* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-bg-main {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
}

.header-bg-secondary {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%);
}

.header-clip {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

header {
  position: relative;
  overflow: hidden;
}

header nav {
  padding: 1rem;
}

header nav .downloadBtn {
  color: #5e72e4;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

header nav .navSocial a:hover {
  opacity: 0.7;
}

header nav .logo {
  height: 30px;
  width: 102px;
}

header nav .exp-drop-down {
  position: relative;
}

header nav .exp-drop-down:hover {
  cursor: pointer;
}

header nav .exp-drop-down:hover .expdown-content {
  display: block;
}

header nav .exp-drop-down:hover .expBtn {
  opacity: 0.7;
}

header nav .exp-drop-down .expdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

header nav .exp-drop-down .expdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

header nav .exp-drop-down .expdown-content a:hover {
  background-color: #e9ecef;
}

header nav .comp-drop-down {
  position: relative;
}

header nav .comp-drop-down:hover {
  cursor: pointer;
}

header nav .comp-drop-down:hover .compdown-content {
  display: block;
}

header nav .comp-drop-down:hover .compBtn {
  opacity: 0.7;
}

header nav .comp-drop-down .compdown-content {
  display: none;
  min-width: 400px;
  position: absolute;
  padding: 12px 16px;
  top: 30px;
  background-color: white;
  border-radius: 5px;
}

header nav .comp-drop-down .compdown-content a:hover .text h6 {
  color: black;
}

header nav .comp-drop-down .compdown-content a:hover .text span {
  color: black;
}

header nav .comp-drop-down .compdown-content .firstLink {
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

header nav .comp-drop-down .compdown-content .firstLink .icon {
  padding: 16px 16px;
  border-radius: 50%;
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
}

header nav .comp-drop-down .compdown-content .firstLink .icon i {
  font-size: 24px;
  color: white;
}

header nav .comp-drop-down .compdown-content .firstLink .text h6 {
  color: #5e72e4;
}

header nav .comp-drop-down .compdown-content .firstLink .text span {
  color: #8898aa;
}

header nav .comp-drop-down .compdown-content .secondLink {
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

header nav .comp-drop-down .compdown-content .secondLink .icon {
  padding: 16px 16px;
  border-radius: 50%;
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

header nav .comp-drop-down .compdown-content .secondLink .icon i {
  font-size: 24px;
  color: white;
}

header nav .comp-drop-down .compdown-content .secondLink .text h6 {
  color: #5e72e4;
}

header nav .comp-drop-down .compdown-content .secondLink .text span {
  color: #8898aa;
}

header nav .comp-drop-down .compdown-content .thirdLink {
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

header nav .comp-drop-down .compdown-content .thirdLink .icon {
  padding: 16px 16px;
  border-radius: 50%;
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

header nav .comp-drop-down .compdown-content .thirdLink .icon i {
  font-size: 24px;
  color: white;
}

header nav .comp-drop-down .compdown-content .thirdLink .text h6 {
  color: #fb6340;
}

header nav .comp-drop-down .compdown-content .thirdLink .text span {
  color: #8898aa;
}

header .logoLarge {
  width: 200px;
  height: 60px;
}

.btnHover:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btnTransition {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.fw-600 {
  font-weight: 600;
}

.color-white {
  color: white;
}

.py-lg {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.loginCard {
  border-radius: 5px;
  background-color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.loginCard .cardHeader {
  padding: 1.25rem 1.5rem 3rem 1.5rem;
  border-radius: 5px;
}

.loginCard .cardHeader a {
  text-decoration: none;
  color: #5e72e4;
  font-weight: 600;
  font-size: 16px;
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin-right: 20px;
}

.loginCard .cardHeader a:hover {
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginCard .cardHeader a i {
  color: #525f7f;
}

.loginCard .cardBody {
  padding: 3rem;
  border-radius: 5px;
  background-color: #f4f5f7;
}

.loginCard .cardBody form input {
  border: none;
}

.loginCard .cardBody form .email {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginCard .cardBody form .email i {
  padding: 0.625rem 0.75rem;
  color: #adb5bd;
  font-size: 20px;
}

.loginCard .cardBody form .email input {
  font-size: .875rem;
  padding: 0.625rem 0;
  height: calc(2.75rem + 2px);
  line-height: 1.5;
  color: #adb5bd;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.loginCard .cardBody form .email input:focus {
  outline: none;
}

.loginCard .cardBody form .password {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.loginCard .cardBody form .password i {
  padding: 0.625rem 0.75rem;
  color: #adb5bd;
  font-size: 20px;
}

.loginCard .cardBody form .password input {
  font-size: .875rem;
  padding: 0.625rem 0;
  height: calc(2.75rem + 2px);
  line-height: 1.5;
  color: #adb5bd;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.loginCard .cardBody form .password input:focus {
  outline: none;
}

.loginCard .cardBody form .rememberCheck input {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 20px;
  height: 20px;
}

.loginCard .cardBody form .rememberCheck label {
  color: #525f7f;
}

.loginCard .cardBody form .loginButton {
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  font-size: .875rem;
  background-color: #5e72e4;
  color: white;
}

.registerCard {
  border-radius: 5px;
  background-color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.registerCard .cardHeader {
  padding: 1.25rem 1.5rem 3rem 1.5rem;
  border-radius: 5px;
}

.registerCard .cardHeader a {
  text-decoration: none;
  color: #5e72e4;
  font-weight: 600;
  font-size: 16px;
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin-right: 20px;
}

.registerCard .cardHeader a:hover {
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.registerCard .cardHeader a i {
  color: #525f7f;
}

.registerCard .cardBody {
  padding: 3rem;
  border-radius: 5px;
  background-color: #f4f5f7;
}

.registerCard .cardBody form input {
  border: none;
}

.registerCard .cardBody form .name {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.registerCard .cardBody form .name i {
  padding: 0.625rem 0.75rem;
  color: #adb5bd;
  font-size: 20px;
}

.registerCard .cardBody form .name input {
  font-size: .875rem;
  padding: 0.625rem 0;
  height: calc(2.75rem + 2px);
  line-height: 1.5;
  color: #adb5bd;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.registerCard .cardBody form .name input:focus {
  outline: none;
}

.registerCard .cardBody form .email {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.registerCard .cardBody form .email i {
  padding: 0.625rem 0.75rem;
  color: #adb5bd;
  font-size: 20px;
}

.registerCard .cardBody form .email input {
  font-size: .875rem;
  padding: 0.625rem 0;
  height: calc(2.75rem + 2px);
  line-height: 1.5;
  color: #adb5bd;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.registerCard .cardBody form .email input:focus {
  outline: none;
}

.registerCard .cardBody form .password {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.registerCard .cardBody form .password i {
  padding: 0.625rem 0.75rem;
  color: #adb5bd;
  font-size: 20px;
}

.registerCard .cardBody form .password input {
  font-size: .875rem;
  padding: 0.625rem 0;
  height: calc(2.75rem + 2px);
  line-height: 1.5;
  color: #adb5bd;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.registerCard .cardBody form .password input:focus {
  outline: none;
}

.registerCard .cardBody form .rememberCheck a {
  text-decoration: none;
}

.registerCard .cardBody form .rememberCheck input {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 20px;
  height: 20px;
}

.registerCard .cardBody form .rememberCheck label {
  color: #525f7f;
}

.registerCard .cardBody form .loginButton {
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  font-size: .875rem;
  background-color: #5e72e4;
  color: white;
}

.imagesDiv {
  margin-bottom: 3rem;
  position: relative;
  top: 25rem;
  z-index: 5;
}

.imagesDiv img {
  width: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

.imagesDiv img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.footerClip {
  -webkit-clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0 40%);
          clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0 40%);
}

footer {
  background: #f4f5f7;
  padding: 3rem 0;
}

footer .footerSec .footerHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footerSec .footerHeader a {
  margin-right: 0.5rem;
}

footer .footerSec .footerHeader .socialLinks .facebookLink {
  background-color: #3b5999;
}

footer .footerSec .footerHeader .socialLinks .dribbleLink {
  background-color: #ea4c89;
}

footer .footerSec .footerBottom a {
  text-decoration: none;
}

footer .footerSec .footerBottom .footerLinks a {
  padding: 0.25rem 0.75rem;
  color: #8898aa;
}

footer .footerSec .footerBottom .footerLinks a:hover {
  color: #525f7f;
}

.statAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileCard {
  padding: 0 1.5rem;
  border-radius: 5px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}

.profileCard .pCardHeader .profileStats .stat {
  text-align: center;
  margin-right: 1rem;
  padding: 0.875rem;
}

.profileCard .pCardHeader .profileStats .stat .statHeader {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  color: #525f7f;
}

.profileCard .pCardHeader .profileStats .stat .statBody {
  font-size: .875rem;
  color: #adb5bd;
}

.profileCard .pCardHeader .profilePicture {
  text-align: center;
}

.profileCard .pCardHeader .profilePicture img {
  max-width: 180px;
  border-radius: 50%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.profileCard .pCardHeader .profilePicture img:hover {
  cursor: pointer;
  -webkit-transform: translateY(-33%);
          transform: translateY(-33%);
}

.profileCard .pCardHeader .profileActions {
  text-align: right;
  padding-top: 1.5rem;
}

.profileCard .pCardHeader .profileActions .connectBtn {
  color: white;
  margin-right: 1.5rem;
}

.profileCard .pCardHeader .profileActions .messageBtn {
  background-color: #172b4d;
  color: white;
  float: right;
}

.profileCard .pCardBody {
  padding-bottom: 3rem;
  border-bottom: 1px solid #e9ecef;
}

.profileCard .pCardBody h3 {
  color: #32325d;
}

.profileCard .pCardBody .location {
  color: #32325d;
}

.profileCard .pCardBody .occupation {
  font-weight: 500;
  color: #32325d;
}

.profileCard .pCardBody .education {
  font-weight: 500;
  color: #525f7f;
}

.profileCard .pCardFooter .cardFooterText {
  color: #525f7f;
}

.profileCard .pCardFooter .showMore {
  color: #5e72e4;
  font-size: 1rem;
  font-weight: 400;
}

.profileCard .pCardFooter .showMore:hover {
  cursor: pointer;
  color: #2641df;
}

main .basicElements {
  padding-top: 4rem;
}

main .basicElements .secHeadTxt {
  font-size: 2rem;
  font-weight: 400;
}

main .basicElements .buttons h3 {
  color: #2dce89;
}

main .basicElements .buttons small {
  color: #525f7f;
}

main .basicElements .inputs h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .basicElements .inputs small {
  color: #525f7f;
}

main .basicElements .inputs .successInput {
  border-color: #2dce89;
}

main .basicElements .inputs .successInput::-webkit-input-placeholder {
  color: #2dce89;
}

main .basicElements .inputs .successInput:-ms-input-placeholder {
  color: #2dce89;
}

main .basicElements .inputs .successInput::-ms-input-placeholder {
  color: #2dce89;
}

main .basicElements .inputs .successInput::placeholder {
  color: #2dce89;
}

main .basicElements .inputs .successAddon {
  border-color: #2dce89;
}

main .basicElements .inputs .errorInput {
  border-color: #fb6340;
}

main .basicElements .inputs .errorInput::-webkit-input-placeholder {
  color: #fb6340;
}

main .basicElements .inputs .errorInput:-ms-input-placeholder {
  color: #fb6340;
}

main .basicElements .inputs .errorInput::-ms-input-placeholder {
  color: #fb6340;
}

main .basicElements .inputs .errorInput::placeholder {
  color: #fb6340;
}

main .basicElements .inputs .errorAddon {
  border-color: #fb6340;
  color: #fda08b;
}

main .basicElements .inputs .altFormControls {
  background-color: #f4f5f7;
}

main .basicElements .inputs .altFormControls input {
  border: none;
}

main .basicElements .inputs .altFormControls span {
  border: none;
}

main .basicElements .inputs .altFormControls .altInput {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main .basicElements .inputs .checkboxes input {
  width: 1.25rem;
  height: 1.25rem;
}

main .basicElements .inputs .radios input {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #11cdef;
}

main .basicElements .menus h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .basicElements .menus small {
  color: #525f7f;
}

main .basicElements .menus .menu1 {
  border-radius: 5px;
}

main .basicElements .menus .menu1 a {
  color: white;
}

main .basicElements .menus .menu1 a:hover {
  color: white;
  opacity: 0.6;
}

main .basicElements .menus .menu2 {
  border-radius: 5px;
}

main .basicElements .menus .menu2 a {
  color: white;
}

main .basicElements .menus .menu2 a:hover {
  color: white;
  opacity: 0.6;
}

main .navbarSec {
  padding-top: 4rem;
}

main .navbarSec .secHeadTxt {
  font-size: 2rem;
  font-weight: 400;
}

main .navbarSec .navbars .nav1 {
  border-radius: 5px;
}

main .navbarSec .navbars .nav1 a {
  color: white;
}

main .navbarSec .navbars .nav1 a:hover {
  color: white;
  opacity: 0.6;
}

main .navbarSec .tabs h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .navbarSec .tabs small {
  color: #525f7f;
}

main .navbarSec .tabs .selectors .btnDefault {
  background-color: white;
  color: #5e72e4;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.75rem 2rem;
}

main .navbarSec .tabs .selectors .btnClick {
  background-color: #5e72e4;
  color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.75rem 2rem;
}

main .navbarSec .tabs .selectedText {
  padding: 1.5rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
}

main .navbarSec .tabs .selectedText .sText1 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText .sText2 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText .sText3 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText .txtDefault {
  display: none;
}

main .navbarSec .tabs .selectedText .txtSelected {
  display: block;
}

main .navbarSec .tabs .selectedText1 {
  padding: 1.5rem;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
}

main .navbarSec .tabs .selectedText1 .sText1 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText1 .sText2 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText1 .sText3 {
  color: #525f7f;
}

main .navbarSec .tabs .selectedText1 .txtDefault {
  display: none;
}

main .navbarSec .tabs .selectedText1 .txtSelected {
  display: block;
}

main .navbarSec .progressBars h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .navbarSec .progressBars small {
  color: #525f7f;
}

main .navbarSec .progressBars .barUp .barText {
  color: #5e72e4;
  font-size: .625rem;
  font-weight: 600;
  background: rgba(94, 114, 228, 0.1);
  padding: 0.25rem 1rem;
  border-radius: 30px;
}

main .navbarSec .progressBars .barUp .barPercent {
  color: #8898aa;
  font-size: .875rem;
  font-weight: 600;
}

main .navbarSec .progressBars .pagination a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50% !important;
  width: 36px;
  height: 36px;
  font-size: .875rem;
  margin: 0 3px;
}

main .navbarSec .progressBars .pagination .page-link {
  color: #8898aa;
}

main .navbarSec .progressBars .pagination .page-active {
  color: white;
  background-color: #5e72e4;
  border: none;
}

main .navbarSec .progressBars .pagination .page-link1 {
  color: #8898aa;
}

main .navbarSec .progressBars .pagination .page-active1 {
  color: white;
  background-color: #5e72e4;
  border: none;
}

main .navbarSec .navigationPills h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .navbarSec .navigationPills small {
  color: #525f7f;
}

main .navbarSec .navigationPills .navPill {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #5e72e4;
}

main .navbarSec .navigationPills .navPill:hover {
  cursor: pointer;
}

main .navbarSec .navigationPills .navPill-active {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #5e72e4;
  color: white;
}

main .navbarSec .navigationPills .navPill-active:hover {
  cursor: pointer;
}

main .navbarSec .navigationPills .badgePrimary {
  color: #2643e9;
  background-color: rgba(203, 210, 246, 0.5);
  border-radius: 10rem;
  padding: 0.35rem 0.375rem;
  font-size: 66%;
  font-weight: 600;
  line-height: 1;
}

main .navbarSec .navigationPills .badgeSuccess {
  color: #1aae6f;
  background-color: rgba(147, 231, 195, 0.5);
  padding: 0.35rem 0.375rem;
  font-size: 66%;
  font-weight: 600;
  border-radius: 10rem;
}

main .navbarSec .navigationPills .badgeDanger {
  color: #f80031;
  background-color: rgba(251, 175, 190, 0.5);
  border-radius: 10rem;
  padding: 0.35rem 0.375rem;
  font-size: 66%;
  font-weight: 600;
}

main .navbarSec .navigationPills .badgeWarning {
  color: #ff3709;
  background-color: rgba(254, 201, 189, 0.5);
  padding: 0.35rem 0.375rem;
  font-size: 66%;
  font-weight: 600;
  border-radius: 10rem;
}

main .navbarSec .navigationPills .badgeInfo {
  color: #03acca;
  background-color: rgba(136, 230, 247, 0.5);
  padding: 0.35rem 0.375rem;
  font-size: 66%;
  font-weight: 600;
  border-radius: 10rem;
}

main .alertsSec {
  padding-top: 4rem;
}

main .alertsSec .secHeadTxt {
  font-size: 2rem;
  font-weight: 400;
}

main .alertsSec .alertClosed {
  display: none !important;
}

main .alertsSec .successAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  border: 0;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: #4fd69c;
}

main .alertsSec .successAlert p {
  color: white;
  margin-bottom: 0;
}

main .alertsSec .successAlert p span {
  font-weight: bolder;
}

main .alertsSec .successAlert .closeBtn {
  color: white;
  opacity: 0.6;
}

main .alertsSec .successAlert .closeBtn:hover {
  cursor: pointer;
  opacity: 1;
}

main .alertsSec .infoAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  border: 0;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: #37d5f2;
}

main .alertsSec .infoAlert p {
  color: white;
  margin-bottom: 0;
}

main .alertsSec .infoAlert p span {
  font-weight: bolder;
}

main .alertsSec .infoAlert .closeBtn1 {
  color: white;
  opacity: 0.6;
}

main .alertsSec .infoAlert .closeBtn1:hover {
  cursor: pointer;
  opacity: 1;
}

main .alertsSec .warningAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  border: 0;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: #fb6340;
}

main .alertsSec .warningAlert p {
  color: white;
  margin-bottom: 0;
}

main .alertsSec .warningAlert p span {
  font-weight: bolder;
}

main .alertsSec .warningAlert .closeBtn2 {
  color: white;
  opacity: 0.6;
}

main .alertsSec .warningAlert .closeBtn2:hover {
  cursor: pointer;
  opacity: 1;
}

main .alertsSec .dangerAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  border: 0;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  background-color: #f5365c;
}

main .alertsSec .dangerAlert p {
  color: white;
  margin-bottom: 0;
}

main .alertsSec .dangerAlert p span {
  font-weight: bolder;
}

main .alertsSec .dangerAlert .closeBtn3 {
  color: white;
  opacity: 0.6;
}

main .alertsSec .dangerAlert .closeBtn3:hover {
  cursor: pointer;
  opacity: 1;
}

main .imageSec {
  padding-top: 4rem;
}

main .imageSec .secHeadTxt {
  font-size: 2rem;
  font-weight: 400;
}

main .imageSec small {
  color: #525f7f;
}

main .imageSec img {
  width: 150px;
}

main .imageSec .firstImg {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  border-radius: 0.25rem;
}

main .imageSec .secondImg {
  border-radius: 50%;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
          box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

main .imageSec .thirdImg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.25rem;
}

main .imageSec .forthImg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 50%;
}

main .jsComponentsSec {
  padding-top: 4rem;
}

main .jsComponentsSec .secHeadTxt {
  font-size: 2rem;
  font-weight: 400;
}

main .jsComponentsSec h3 {
  color: #2dce89;
  margin-top: 4rem;
}

main .jsComponentsSec small {
  color: #525f7f;
}

main .jsComponentsSec .myModal h5 {
  color: #32325d;
  font-size: 1rem;
  font-weight: 400;
}

main .jsComponentsSec .myModal .modalBtn {
  background-color: #5e72e4;
  width: 100%;
  font-weight: 600;
}

main .jsComponentsSec .myModal .modalClose {
  font-size: 1rem;
}

main .jsComponentsSec .myModal p {
  font-size: 1rem;
  font-weight: 300;
  color: #525f7f;
}

main .jsComponentsSec .myModal .saveChng {
  background-color: #5e72e4;
  font-weight: 600;
}

main .jsComponentsSec .myModal .mCloseBtn {
  background-color: transparent;
  border: none;
  color: #5e72e4;
  font-weight: 600;
}

main .jsComponentsSec .myModal1 .modalBtn1 {
  background-color: #fb6340;
  width: 100%;
  font-weight: 600;
  border-color: #fb6340;
}

main .jsComponentsSec .myModal1 h5 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

main .jsComponentsSec .myModal1 .modalBell {
  font-size: 3em;
}

main .jsComponentsSec .myModal1 .modalTxtHeader {
  font-weight: 400;
  margin-top: 1.5rem;
}

main .jsComponentsSec .myModal1 .saveChng1 {
  background-color: white;
  color: black;
  font-weight: 600;
  border: none;
}

main .jsComponentsSec .myModal1 .mCloseBtn1 {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
}

main .jsComponentsSec .myModal1 .modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

main .jsComponentsSec .myModal1 .modal-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

main .jsComponentsSec .myModal2 .modalBtn2 {
  background-color: #172b4d;
  width: 100%;
  font-weight: 600;
  border-color: #172b4d;
}

main .jsComponentsSec .tooltipsDiv .tooltips button {
  background-color: #5e72e4;
  color: white;
  border: none;
  font-weight: 600;
  font-size: .75rem;
}

main .jsComponentsSec .tooltipsDiv .popovers button {
  background-color: #172b4d;
  color: white;
  border: none;
  font-weight: 600;
  font-size: .75rem;
}

main .carouselSec {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
}

main .carouselSec .carouselDiv {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main .carouselSec .carouselDiv h2 {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

main .carouselSec .carouselDiv p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  color: white;
}

main .carouselSec .carouselDiv a {
  background-color: white;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .carouselSec .myCarousel {
  -webkit-transform: rotateX(-20deg) rotateY(-10deg);
          transform: rotateX(-20deg) rotateY(-10deg);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .carouselSec .myCarousel img {
  border-radius: 5px;
}

main .formsSec {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: linear-gradient(150deg, #7795f8 15%, #6772e5 70%, #555abf 94%);
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
}

main .formsSec .formsSecInner {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main .formsSec .formsSecInner .firstH2 {
  font-weight: 600;
}

main .formsSec .formsSecInner h2 {
  color: white;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

main .formsSec .formsSecInner p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  color: white;
}

main .formsSec .formsSecInner a {
  background-color: white;
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .formsSec .formsSecInner .logBtn {
  background-color: #2dce89;
  color: white;
}

main .formsSec .formsSecInner .loginCard {
  -webkit-transform: rotateX(-20deg) rotateY(-10deg);
          transform: rotateX(-20deg) rotateY(-10deg);
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .endingSec {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

main .endingSec .endingDiv h2 {
  color: #32325d;
  font-size: 2.1875rem;
  font-weight: 600;
}

main .endingSec .endingDiv span {
  font-weight: 300;
  color: #2dce89;
  font-size: 2.1875rem;
}

main .endingSec .endingDiv p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #525f7f;
}

main .endingSec .endingDiv a {
  color: #fff;
  background-color: #5e72e4;
  font-weight: 600;
}

main .endingSec .endingBottom img {
  width: 100%;
}

.modalBg {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
  color: white;
}

#flexSwitchCheckDefault {
  width: 3rem;
  height: 1.5rem;
}

#flexSwitchCheckChecked {
  width: 3rem;
  height: 1.5rem;
}

.addonStyles {
  background-color: white;
  color: #adb5bd;
}

.inputBorder-left {
  border-left: none;
}

.inputBorder-right {
  border-right: none;
}

.navBg-primary {
  background-color: #5e72e4;
}

.navBg-success {
  background-color: #2dce89;
}

.navBg-warning {
  background-color: #fb6340;
}

.navBg-danger {
  background-color: #f5365c;
}

.navBg-default {
  background-color: #172b4d;
}

.navBg-info {
  background-color: #11cdef;
}

.btnBg-primary {
  background-color: #5e72e4;
}

.btnBg-success {
  background-color: #2dce89;
}

.btnBg-warning {
  background-color: #fb6340;
}

.btnBg-danger {
  background-color: #f5365c;
}

.btn-neutral {
  background-color: white;
  color: #5e72e4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn-neutral:hover {
  color: black;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btnOutline-primary {
  color: #5e72e4;
  background-color: transparent;
  background-image: none;
  border-color: #5e72e4;
}

.btnOutline-primary:hover {
  background-color: #5e72e4;
  color: white;
}

.btnOutline-info {
  color: #11cdef;
  background-color: transparent;
  background-image: none;
  border-color: #11cdef;
}

.btnOutline-info:hover {
  background-color: #11cdef;
  color: white;
}

.btnOutline-success {
  color: #2dce89;
  background-color: transparent;
  background-image: none;
  border-color: #2dce89;
}

.btnOutline-success:hover {
  background-color: #2dce89;
  color: white;
}

.btnOutline-warning {
  color: #fb6340;
  background-color: transparent;
  background-image: none;
  border-color: #fb6340;
}

.btnOutline-warning:hover {
  background-color: #fb6340;
  color: white;
}

.btnOutline-danger {
  color: #f5365c;
  background-color: transparent;
  background-image: none;
  border-color: #f5365c;
}

.btnOutline-danger:hover {
  background-color: #f5365c;
  color: white;
}

.text-color-primary {
  color: #5e72e4;
}

.text-color-primary:hover {
  color: #5e72e4;
}

.container {
  padding: 0 100px;
}

.text-color-success {
  color: #2dce89;
}

.text-color-success:hover {
  color: #2dce89;
}

.text-color-info {
  color: #11cdef;
}

.text-color-info:hover {
  color: #11cdef;
}

.text-color-warning {
  color: #fb6340;
}

.text-color-warning:hover {
  color: #fb6340;
}

.text-color-danger {
  color: #f5365c;
}

.text-color-danger:hover {
  color: #f5365c;
}

.text-color-default {
  color: #172b4d;
}

.text-color-default:hover {
  color: #172b4d;
}

.shape-1 {
  position: absolute;
  top: -1%;
  left: -4%;
  background: rgba(255, 255, 255, 0.1);
}

.shape-2 {
  position: absolute;
  top: 38%;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}

.shape-3 {
  position: absolute;
  top: 44%;
  left: 10%;
  background: rgba(255, 255, 255, 0.15);
}

.shape-4 {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background: rgba(255, 255, 255, 0.05);
}

.shape-5 {
  position: absolute;
  bottom: 48%;
  left: 45%;
  background: rgba(255, 255, 255, 0.04);
}

.shape-6 {
  position: absolute;
  top: 10%;
  right: 4%;
  background: rgba(255, 255, 255, 0.1);
}

.shape-7 {
  position: absolute;
  top: 39%;
  right: 12%;
  background: rgba(255, 255, 255, 0.15);
}

.shape-8 {
  position: absolute;
  top: 37%;
  right: 9%;
  background: rgba(255, 255, 255, 0.3);
}

.shape-9 {
  position: absolute;
  bottom: -3%;
  right: 2%;
  background: rgba(255, 255, 255, 0.05);
}

.shape-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.shape-75 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.shape-100 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.shape-150 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.shape-200 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */